{% extends 'base.html' %}

{% block title %} Contact
{% endblock title%}

{% block body %}
<div class="container-fluid mb-1 px-0">
    <!-- <img src="static\img\c2.jpg" class="d-block w-100" alt="..."> -->
    <img src="static\img\c8.jpg" class="d-block w-100" alt="...">
    <!-- <img src="https://source.unsplash.com/random/1200x400/?phone,contact" class="d-block w-100" alt="...">  -->
</div>

<div class="container mb-3 px-0">
    <h2 class="text-center">Contact Us</h2>

    <form method="post" action="/contact">
        {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
    </div>

    <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
    </div>

    <div class="mb-3">
        <label for="desc" class="form-label">Tell me about you want to contact me for... </label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
    </div>

    <div class="container text-center">
        <button type="Submit" class="btn btn-secondary">Submit</button>

    </div>
</form>
    {% endblock body %}